*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
article, hgroup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section{
	width: 30%;
	align-self: center;
	margin: 20px auto;
	padding-bottom: 40px;
	text-align: center; 
	border-bottom: 1px solid grey;
}
hgroup{
	padding: 30px; 
}
hgroup h1{
	font-size: 2.4em;
	padding: 20px;
}
hgroup h1, h3{
	margin: 0;
}
